@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&family=Share+Tech+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


$color-black-font:black;
$color-white-font:#fff;//change


// :root{
//     $color-black-font :rgb(255, 228, 78);//change
//     $color-white-font:#fff;//change
// }
  
*{
    //font-family: 'Share Tech Mono', monospace;
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background: $color-white-font; //remove
}

#container{
    padding: 1rem;
}

nav{
    // background: red;
    padding: 1rem;
    text-align: right;
    position: relative;
    display: flex;
    justify-content: flex-end;

    a{
        text-decoration: none;
        color: $color-black-font;
        margin-right: 1.5rem;
    }

    #day-night{
        // display: none
        background:none;
        border:none;
        cursor: pointer;
    }
}


#contact-left{
    position: fixed;
    padding: 1rem;
    margin-top: 2rem;
    text-align: center;

    #contact-left-links{
        margin-top: 2rem;
        display: flex;
        flex-direction: column;
    }
    
    #contact-line{
        height: 30vh;
        padding: 1px;
        display: inline-block;
        background: $color-black-font;
    }

    a{
        margin-bottom: 2rem;
        color: $color-black-font;
        font-size: 1.1rem;
    }
}

main{
    position: relative;
    padding: 1rem;
    width: 85%;
    margin: 0 auto;
    color: $color-black-font;

    .block{
        padding: 2rem;
        margin-bottom: 2rem;

        .heading{
            font-family: 'Major Mono Display', monospace;
            font-size: 3rem;
            //background: red;
            width: 30%;
        }

        p{
            padding:1rem
        }
    }

    #about{
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 90vh;

        #heading--main{
            font-size: 5rem;
        }
    }

    #skills{

        .skill-blocks-all{
            display: grid;
            grid-template-columns: 1fr 1fr;
        }

        .skill-block{
            margin-top: 0rem;
            padding: 1rem;

            .skill-block-heading{
                font-size: 1.3rem;
            }

            .skill-line{
                margin-top: 0.5rem;
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding:1rem;
                border:1px solid $color-black-font;


                div{
                    padding: 0.2rem;
                    background: $color-black-font;
                }

                #skill-line-html5{
                    width: 80%;
                }

                #skill-line-css3{
                    width: 70%;
                }

                #skill-line-saas{
                    width: 70%;
                }

                #skill-line-bootstrap{
                    width: 60%;
                }

                #skill-line-javascript{
                    width: 70%;
                }

                #skill-line-jquery{
                    width: 60%;
                }

                #skill-line-python{
                    width: 60%;
                }

                #skill-line-c{
                    width: 60%;
                }

                #skill-line-php{
                    width: 75%;
                }

                #skill-line-mysql{
                    width: 70%;
                }

                #skill-line-git{
                    width: 80%;
                }

                #skill-line-figma{
                    width: 50%;
                }
            }
        }
    }

    #edu{

        .edu-block-main{
            margin-top: 1rem;
            padding: 1rem;
            padding-left: 6rem;

            .edu-block-sub{
                display: flex;
                flex-direction: column;

                .edu-block{
                    margin-bottom: 2rem;
                    border-left: 0.3rem solid $color-black-font;
                    padding: 1rem;

                    .edu-block-heading{
                        font-size: 1.6rem;
                    }
                }
            }
        }   
        
    }

    #project{
        position: relative;
        
        #project-all{
            display: grid;
            grid-template-columns: 1fr 1fr;

            .project-block{
                border: 2px solid $color-black-font;
                display: flex;
                flex-direction: column;
                margin: 1rem;

                img{
                    width: 100%;
                }

                .project-block-cont
                {
                    padding:1rem;
                    color: $color-black-font;
                    display: flex;
                    flex-direction: column;
                    

                    .project-block-heading{
                        font-size: 1.6rem;
                    }

                    span,p{
                        font-size: 1.2rem;
                    }

                    .project-block-links-source{
                        padding: 1rem;
                        a{
                            display: block;
                            text-decoration: none;     
                            color: $color-black-font;
                        }
                    }

                    .used-lang{
                        .label{
                            border:1px solid $color-black-font
                        }
                    }
                }

                .project-block-cont:hover{
                    background: $color-black-font;
                    color: $color-white-font;
                    a{
                        color: $color-white-font;
                    }
                    .label{
                        border-color: $color-white-font;
                    }
                }
            
            }
        }
    }


    #contact{
        #contact-block{
            padding: 1rem;
            margin-left: 3rem;
            margin-top: 2rem;

            .contact-input{
                margin-bottom: 1.5rem;
            }
            label{
                font-size: 1.2rem;
            }
            input,textarea{
                outline: none;
                padding: 0.8rem;
                width: 100%;    
                border: 1px solid $color-black-font;
                background: none;
            }
            button{
                color: $color-black-font;
                padding: 0.6rem 2rem;
                border: none;
                background: none;
                cursor: pointer;
                border: 1px solid $color-black-font;
            }
            button:hover{
                background: $color-black-font;
                color: $color-white-font;
            }
           
        }
    }
}